@import "Functions.less";
@import "Fonts.less";

body {
    margin: 0;
    background-color: black;
    font-family: 'Open Sans';
}

#Intro {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    
    div.logo {
        font-family: 'Open Sans';
        font-size: 120px;
        font-weight: 100;
        @media (max-width:640px) {
            font-size:96px;
        }
    }

    div.betaBlurb {
        text-transform: lowercase;
        font-weight: 100;
        margin-bottom: 16px;
        font-size: 18px;
        @media (max-width:640px) {
            font-size: 12px;
        }
    }

    canvas {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -100;
    }
}

div.more {
    position: absolute;
    top: 100%;
    left:0;
    right:0;

    section {
        width: 100%;
        padding: 48px 0;
        text-align: center;

        h1 {
            font-weight: 900;
            text-transform: uppercase;
            font-size: 48px;
            margin: 0 0 0 32px;
        }

        &.what {
            background-color: #fff;
            & > div {
                display: inline-flex;
                max-width: 1280px;
                /* align-items: center; */
                justify-content: center;
                text-align: center;

                @media (max-width:900px) {
                    width: 100%;
                    max-width: 100%;
                    flex-direction: column;
                }

                div.imageContainer {
                    flex-shrink: 1;
                    img {
                        max-width: 100%;
                    }
                }
                div.blurb {
                    text-align: left;
                    flex-shrink: 3;
                    h1 {
                        margin: 0;
                        font-size: 52px;
                        @media (max-width:900px) {
                            display: none;
                        }
                    }
                    p {
                        font-size: 20px;
                        padding: 0px 8px;
                    }
                }
            }
        }

        &.how {
            img {
                width: 100%;
                max-width: 1000px;
            }
        }

        div.accentText {
            position: absolute;
            right: 0;
            text-align: right;
            font-weight: 900;
            line-height: 0.75;
            font-size: 128px;
            margin-left: 32px;
            text-transform: uppercase;
            opacity: 0.1;
        }
    }
}

form {
    input[type=email], input[type=password], input[type=text] {
        font-family: 'Open Sans';
        font-size: 22px;
        padding: 5px;
        margin: 6px 0;
        opacity: 0.5;
        .transition(opacity 200ms ease-out);

        @media (max-width:640px) {
            font-size: 16px;
        }

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            opacity: 1;
        }
    }

    input[type=submit] {
        background-color: transparent;
        border: none;
        font-weight: 900;
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        margin: 6px 0;
    }
}