<!DOCTYPE html>
<html>
<head>
    <title>Tunr.io / Cloud Music, No Compromises</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <script src="~/Scripts/Js/createjs-2013.12.12.min.js"></script>
    <script src="~/Scripts/application.js"></script>
</head>
<body>
    <section id="Intro">
        <div class="logo">Tunr</div>
        <div class="betaBlurb">
            Sign up for beta access - free 5GB of music storage
        </div>
        <form>
            <input type="email" placeholder="e-mail address" />
        </form>
        <canvas id="canvas"></canvas>
    </section>
    <div class="more">
        <section class="what">
            <div>
                <div class="imageContainer">
                    <img src="~/Content/Images/StopLeasing.png" alt="STOP LEASING YOUR MUSIC" />
                </div>
                <div class="blurb">
                    <h1>Cloud Music Meets Your Library</h1>
                    <p>
                        Tunr is the first cloud music service that puts you in control.
                    </p>
                    <p>
                        Simply sync your library with the Tunr cloud, and access it anywhere via
                        our beautiful web app, and (coming soon) mobile applications.
                    </p>
                    <p>
                        We won't mess with your files, and you can always download the originals.
                    </p>
                    <p>
                        We'll never limit what you listen to or how you can listen to it.
                    </p>
                    <p>
                        It's your music. 
                    </p>
                </div>
            </div>
        </section>
        <section class="how">
            <img src="~/Content/Images/TunrDiagramWeb.svg" alt="Diagram" />
        </section>
    </div>
</body>
</html>