<!DOCTYPE html>
<html>
<head>
    <title>Tunr.io / Cloud Music, No Compromises</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <section id="Intro">
        <div class="logo">Tunr</div>
    </section>
    <div class="more">
        <section class="what">
            This part is how Tunr's amazing
        </section>
        <section>
            This part is how easy it is.
        </section>
    </div>
</body>
</html>