<!DOCTYPE html>
<html>
<head>
    <title>Tunr.io / Cloud Music, No Compromises</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.75, minimum-scale=0.75, maximum-scale=0.75" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <script src="~/Scripts/Js/createjs-2013.12.12.min.js"></script>
    <script src="~/Scripts/application.js"></script>
</head>
<body>
    <section id="Intro">
        <div class="logo">Tunr</div>
        <div class="betaBlurb">
            Sign up for beta access - free 5GB of music storage
        </div>
        <form>
            <input type="email" placeholder="e-mail address" />
        </form>
        <canvas id="canvas"></canvas>
    </section>
    <div class="more">
        <section class="what">
            This part is how Tunr's amazing
        </section>
        <section>
            This part is how easy it is.
        </section>
    </div>
</body>
</html>